/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for testing SHORT-READ mode with local test data
    Use this config after running generate_test_data.sh

    Use as follows:
        nextflow run . -profile test_shortread_local,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]
    
    // Reduce memory for specific processes that need less
    withName: '.*:QUANTIFY_SCRNA_ISOQUANT:SPLIT_FASTA' {
        memory = '6.GB'
    }
    
    withName: '.*:QUANTIFY_SCRNA_ISOQUANT:SAMTOOLS_FAIDX_SPLIT' {
        memory = '4.GB'
    }
    
    // Reduce memory for other processes if needed
    withLabel:process_low {
        memory = '6.GB'
    }
}

params {
    config_profile_name        = 'Test profile - Short-read (Local)'
    config_profile_description  = 'Test dataset with locally generated short-read data'

    // Input type
    input_type                  = 'short_read'

    // Input data - Use locally generated test data
    input                       = "${projectDir}/test_data/shortread/samplesheet_shortread.csv"

    // Genome references (using small test reference)
    genome_fasta                = "https://raw.githubusercontent.com/nf-core/test-datasets/scnanoseq/reference/chr21.fa"
    gtf                         = "https://raw.githubusercontent.com/nf-core/test-datasets/scnanoseq/reference/chr21.gtf"

    // Barcode options
    barcode_length              = 16
    umi_length                  = 12
    // Note: barcode_format is not required for short-read mode

    // Analysis options
    // For quick testing, you can skip quantifier or use a lighter one
    // quantifier = ""  // Skip quantification for faster testing
    quantifier                  = "isoquant"

    // Skip some steps for faster testing
    skip_seurat                 = true
    skip_multiqc               = false
    skip_dedup                 = false  // Deduplication is mandatory for short-read
    skip_trimming              = true   // Skip trimming for test data

}
